name: Decrypt test

on:
    workflow_dispatch:

jobs:
    workflow:
        runs-on: ubuntu-latest
        steps:
            - name: Check out repository
              uses: actions/checkout@v6

            - name: Set up Python
              uses: actions/setup-python@v6
              continue-on-error: true
              with:
                  python-version: "3.13"
                  cache: "pip" # caching pip dependencies

            - name: Install requirements
              continue-on-error: true
              run: |
                  pip install -r requirements.txt

            - name: Run test
              env:
                  PAYLOAD_KEY: ${{ secrets.PAYLOAD_KEY }}
              run: |
                  python decrypt_test.py
